/**
* Main settins file.
* Color of site are in _colors.scss file and should be edited there
* 
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.card-img-top {
  overflow: hidden;
}

.card-img-top > img {
  width: 100%;
  -webkit-transition: all 280ms ease-in;
  transition: all 280ms ease-in;
}

.card:hover .card-img-top > img {
  will-change: transform;
  -webkit-transform: scale(1.1) rotate(-2.5deg);
  transform: scale(1.1) rotate(-2.5deg);
}

.card-footer {
  border-top: 1px solid transparent;
  background-color: transparent;
}

.hash-tag {
  font-family: "Roboto-Regular";
  display: inline-block;
  color: #fdb813;
  padding: .500rem;
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.eot?") format("eot"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.eot?") format("eot"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans-Light.eot?") format("eot"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.ttf") format("truetype");
}

body {
  font-family: "Roboto-Regular", "Arial", sans-serif;
  font-size: 16px;
}

::-moz-selection {
  background-color: #fdb813;
  color: white;
}

::selection {
  background-color: #fdb813;
  color: white;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1.500rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.h1,
h1 {
  font-size: 2.5rem;
}

.h2,
h2 {
  font-size: 2rem;
}

.h3,
h3 {
  font-size: 1.750rem;
}

.h4,
h4 {
  font-size: 1.5rem;
}

.h5,
h5 {
  font-size: 1.25rem;
}

.h6,
h6 {
  font-size: 1rem;
}

a {
  color: #fdb813;
  text-decoration: underline;
}

p {
  font-size: inherit;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.content-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.text-align-center {
  text-align: center;
}

.loader {
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
}

.loader__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader__img {
  -webkit-animation: load-img 1200ms ease-in-out infinite;
  animation: load-img 1200ms ease-in-out infinite;
  display: block;
  height: auto;
  width: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@-webkit-keyframes load-img {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes load-img {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.to-top {
  background-color: white;
  border: 8px solid #fdb813;
  height: 3rem;
  width: 3rem;
  -webkit-transform: rotate(17.5deg);
  transform: rotate(17.5deg);
  -webkit-transition: all 180ms ease-in;
  transition: all 180ms ease-in;
  will-change: transform;
  z-index: 9000;
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.to-top::before {
  display: block;
  visibility: hidden;
  opacity: 0;
  content: "";
  height: 90%;
  width: 160%;
  background-image: url(../img/shadow.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: -120%;
  left: -30%;
  -webkit-transition: all 180ms ease-out;
  transition: all 180ms ease-out;
  pointer-events: none;
}

.to-top:hover {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.to-top:hover::before {
  display: block;
  visibility: visible;
  opacity: 1;
}

.to-top__box__icon {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.header {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9000;
  width: 100%;
  height: 84px;
  position: fixed;
}

@media (max-width: 992px) {
  .header {
    background-color: white;
    height: 54px;
  }
}

.header__logo {
  margin-left: 2.5%;
}

.header__logo__img {
  display: none;
  width: auto;
  height: 48px;
}

.header--fixed {
  background-color: rgba(255, 255, 255, 0.9);
  height: 54px;
  -webkit-transition: all 180ms ease-in;
  transition: all 180ms ease-in;
}

.header--fixed:hover {
  background-color: white;
}

.header--fixed .nav__link {
  color: #fdb813;
}

.dropdown {
  display: none;
}

.nav {
  font-size: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 768px) {
  .nav {
    margin-right: 2.5%;
  }
}

@media (max-width: 992px) {
  .nav__dropdown {
    display: none;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 53px;
    left: 0;
  }
}

.nav__item {
  font-size: 1.250rem;
  display: inline-block;
}

@media (max-width: 992px) {
  .nav__item {
    display: block;
  }
}

.nav__link {
  display: inline-block;
  padding: 1rem 1.250rem;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  -webkit-transition: all 180ms ease-in;
  transition: all 180ms ease-in;
}

.nav__link:hover {
  color: #fdb813;
}

@media (max-width: 1024px) {
  .nav__link {
    padding: 1.20rem 1.50rem;
  }
}

@media (max-width: 992px) {
  .nav__link {
    color: #fdb813;
    display: block;
  }
}

.nav__icon {
  display: none;
  cursor: pointer;
  height: 28px;
  width: 44px;
  position: relative;
}

@media (max-width: 992px) {
  .nav__icon {
    display: block;
    margin-left: 2.5%;
  }
}

.nav__icon__line {
  background-color: #fdb813;
  border-radius: 1px;
  display: block;
  height: 3px;
  width: 100%;
  position: absolute;
}

.nav__icon__line--top {
  top: 0%;
}

.nav__icon__line--middle {
  top: 50%;
}

.nav__icon__line--bottom {
  top: 100%;
}

@media (max-width: 992px) {
  .nav-toggle {
    display: block;
  }
}

.teaser {
  height: 100vh;
  width: 100%;
}

.teaser__video {
  background-image: url("../img/teaser-bg.jpg");
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
}

.teaser__ctrl {
  border: 8px solid #fdb813;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  height: 44px;
  width: 44px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  bottom: 5%;
  left: 50%;
}

.teaser__ctrl > [class*='icon'] {
  color: #fdb813;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.teaser__msg {
  text-align: center;
  color: white;
  font-size: 2rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.teaser__msg > img {
  display: inline-block;
  width: 350px;
  height: auto;
  margin-bottom: 1rem;
}

.teaser__msg > p {
  line-height: 26px;
}

.icon-pause {
  display: none;
}

.icon--hide {
  display: none;
}

.icon--show {
  display: inline-block;
}

.hash {
  color: white;
  font-size: 5rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 700;
  background: orange;
  color: white;
  opacity: 0.7;
  position: fixed;
  top: 50%;
  left: 50%;
}

.about {
  background-image: url("../img/miksa3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  background-blend-mode: multiply;
  background-color: purple;
}

.miksa {
  background-color: white;
}

.miksa__img {
  width: 100%;
  height: auto;
}

.news {
  background-color: white;
}

.latest {
  margin-bottom: 1rem;
}

.latest__header {
  background-color: #fdb813;
  color: white;
  font-size: .750rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .500rem;
  margin-bottom: .250rem;
}

.latest__header__date {
  margin: 0;
  line-height: 1;
}

.latest__text {
  padding: .500rem;
  font-size: .750rem;
  line-height: 1.5;
}

.latest__signature {
  text-align: right;
  padding: .500rem;
  font-size: .750rem;
}

.single_news__author_timestamp {
  font-size: 0.75rem;
  font-style: italic;
  color: #bdc3c7;
}

.single_news__img {
  width: 100%;
}

.program {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-blend-mode: hard-light;
  background-color: #cccccc;
}

.program__row {
  margin-bottom: 2rem;
}

.friday-lineup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fdb813;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .friday-lineup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.friday-lineup__band {
  padding: 1rem;
}

.friday-lineup__link {
  color: #080708;
}

.tickets {
  background-color: white;
}

@media (max-width: 768px) {
  .tickets__sale ul {
    margin: .500rem 0 1.5rem 0;
  }
}

.tickets__sale ul li {
  margin: .250rem 0;
}

.sponsors {
  background-color: white;
}

.sponsors__link {
  display: block;
  width: 100%;
  margin: 1rem 0;
}

.sponsors__logo {
  width: 100%;
  height: auto;
}

.gallery__link {
  display: inline-block;
  padding: 2px;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: #fff;
  line-height: 0;
  border-radius: 4px;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.gallery__img__thumb {
  width: 7rem;
  border-radius: 4px;
}

.footer {
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6a041d;
  background-blend-mode: multiply;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__cols {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .footer__cols {
    margin-bottom: 2rem;
  }
}

.footer__heading {
  color: white;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .footer__heading {
    text-align: center;
  }
}

.footer__logo {
  text-align: center;
}

.footer__logo__img {
  width: 100%;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 768px) {
  .footer__logo__img {
    width: 30%;
  }
}

.footer ul li {
  margin-bottom: .500rem;
}

@media (max-width: 768px) {
  .footer ul li {
    text-align: center;
  }
}

.post-footer {
  background: #080708;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto-Light", "Arial", sans-serif;
  font-size: .750rem;
  text-align: center;
  padding: 2rem 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
