// General settings file

$base-font-size: 16px;
$base-font: 'Roboto-Regular';
$medium-font: 'Roboto-Medium';
$light-font: 'Roboto-Light';
$base-line-height: 1.5;


// All ShaFest Colors
$sha-tangarine: rgba(253, 184, 19, 1);
$sha-white: rgba(255, 255, 255, 1);
$sha-black: rgba(8, 7, 8, 1);
$sha-scarlet: rgba(106, 4, 29, 1);
$sha-grey: rgba(189,195,199 ,1);

// Font Colors
$sha-font-white: $sha-white;
$sha-font-tangarine: $sha-tangarine;

// Animation
$general-animation-speed: 280ms;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Maps 
// Layers, z-index oreder of elements
// Use: z-index: layer(param);
$layer: (
  teaser: -100,
  header: 9000,
  to-top: 9000
);

.card-img-top {
  overflow: hidden;
}
.card-img-top > img {
  width: 100%;
  transition:  all 280ms ease-in;
  
} 

.card:hover .card-img-top > img {
  will-change: transform;
  transform: scale(1.1) rotate(-2.5deg);
}

.card-footer {
  border-top: 1px solid transparent;
  background-color: transparent;
}

.hash-tag {
  font-family: $base-font;
  display: inline-block;
  color: $sha-font-tangarine;
  padding: .500rem;
}