.about {
    background-image: url('../img/miksa3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: $sha-font-white;
    background-blend-mode: multiply;
    background-color: purple;
    & h6 {
        margin-bottom: 0;
    }
}