.header {
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: layer(header);
  width: 100%;
  @include position(fixed);
  @include respond-to(md) {
    background-color: $sha-white;
    height: 54px;
  }
  &__logo {
    margin-left: 2.5%;
    &__img {
      display: none;
      width: auto;
      height: 48px;
    }
  }
  &--fixed {
    background-color: $sha-white;
    height: 54px;
  }
}
.header--fixed .nav__link {
  color: $sha-font-tangarine;
}

// Hide checkbox as it is trigger for responsive menu
.dropdown {
  display: none;
}
.nav {
  // hack for inline elements to lose default margin
  font-size: 0;
  user-select: none;
  @include respond-to(md) {
    margin-right: 2.5%;
  }
  &__dropdown {
    @include respond-to(md) {
      display: none;
      background-color: $sha-font-white;
      width: 100%;
      @include position(absolute, $top: 53px, $left: 0);
    }
  }
  &__item {
    font-size: 1rem;
    display: inline-block;
    @include respond-to(md) {
      display: block;
    }
  }
  &__link {
    display: inline-block;
    padding: 1.20rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $sha-font-white;
    transition: all 180ms ease-in;
    &:hover {
      color: $sha-font-tangarine;
    }
    @include respond-to(md) {
      color: $sha-font-tangarine;
      display: block;
    }
  }
  // hamburger icon
  &__icon {
    display: none;
    cursor: pointer;
    height: 28px;
    width: 44px;
    @include position(relative);
    @include respond-to(md) {
      display: block;
      margin-left: 2.5%;
    }
    &__line {
      background-color: $sha-tangarine;
      border-radius: 1px;
      display: block;
      height: 3px;
      width: 100%;
      @include position(absolute);
      &--top {
        top: 0%;
      }
      &--middle {
        top: 50%;
      }
      &--bottom {
        top: 100%;
      }
    }
  }
}
@include respond-to(md) {
  
  .nav-toggle {
    display: block;
  }
}