.program {
    background-color: $sha-white;
    &__row {
        margin-bottom: 2rem;
    }
}

.friday-lineup {
    display: flex;
    justify-content: space-between;
    background-color: $sha-tangarine;
    margin-bottom: 2rem;
    @include respond-to(md) {
        flex-flow: column nowrap;
        align-items: center;
    }
    &__band {
        padding: 1rem;
    }
    &__link {
        color: $sha-black;
    }
}