.program {
    background-color: $sha-white;
    &__row {
        margin-bottom: 2rem;
    }
}

.friday-lineup {
    display: flex;
    justify-content: space-between;
    background-color: $sha-tangarine;
    margin-bottom: 2rem;
    &__band {
        padding: 1rem;
    }
}