.teaser {
  height: 100vh;
  width: 100%;
  &__video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: layer(teaser);
  transform: translate(-50%, -50%);
  @include position(fixed, $top: 50%, $left: 50%);
  }
  &__ctrl {
    border: 8px solid $sha-tangarine;
    border-radius: 50%;
    background-color: $sha-white;
    cursor: pointer;
    height: 44px;
    width: 44px;
    user-select: none;
    @include position(absolute, $bottom: 5%, $left: 5%);
    & > [class*='icon'] {
      color: $sha-font-tangarine;
      transform: translate(-50%, -50%);
      @include position(absolute, $top: 50%, $left: 50%);
    }
  }
  &__msg {
    color: $sha-font-white;
    font-size: 2rem;
    @include position(absolute, $top: 30%, $left: 5%);
    & > img {
      width: 100px;
      height: auto;
    }
  }
}
.icon-pause {
  display: none;
}
.icon--hide {
  display: none;
}
.icon--show {
  display: inline-block;
}
.hash {
  color: $sha-font-white;
  font-size: 5rem;    
  transform: translate(-50%, -50%);
  font-weight: 700;
  background: orange;
  color: white;
  opacity: 0.7;
  @include position(fixed, $top: 50%, $left: 50%);
}