.tickets {
    background-color: $sha-font-white;
    background-image: url('../img/tickets.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    color: $sha-white;
    &__sales {
        margin-top: 2rem;
        & p {
            margin-bottom: .500rem;
        }
    }
}